<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
        <li><a class="active" routerLink="/admin/students"><i class="fa fa-calendar"></i> <span>Students</span></a></li>
        <li><a routerLink="/admin/tutors"><i class="fa fa-book"></i> <span>Tutors</span></a></li>
        <li><a routerLink="/admin/bookings"><i class="fa fa-book"></i> <span>Bookings</span></a></li>
        <li><a routerLink="/admin/register"><i class="fa fa-book"></i> <span>Admin List</span></a></li>
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>
