<div class="container-full">

  <div class="row">

    <div class="col-lg-12 text-center v-center">

      <h1>Find a tutor near you</h1>
      <p class="lead">Pick a state ...</p><a href="/student/login">LOGIN</a>

      <br>
      <form class="col-lg-12">
        <div class="row">
          <div class="input-group input-group-lg col-xs-offset-2 col-xs-8">
              <div class="dropdown">
                <div class="form-group">
                    <select id="state" (change)="onStateChange($event.target.value)" class="form-control">
                        <option value="" disabled selected>State</option>
                        <option *ngFor="let state of states" value="{{state.id}}">{{state.name}}</option>
                    </select>
                  </div>
              </div>
           </div>
        </div>
        <div class="row">
          <div class="input-group input-group-lg col-xs-offset-2 col-xs-8">
              <div class="dropdown">
                <div class="form-group">
                    <select id="city" (change)="onCityChange($event.target.value)" class="form-control">
                        <option value="" disabled selected>City</option>
                        <option *ngFor="let city of cities" value="{{state.id}}">{{state.name}}</option>
                    </select>
                  </div>
              </div>
           </div>
        </div>
      </form>
    </div>

  </div>

    <div class="row">

    <div class="col-lg-12 text-center v-center" style="font-size:39pt;">
      <a href="#"><i class="icon-google-plus"></i></a> <a href="#"><i class="icon-facebook"></i></a>  <a href="#"><i class="icon-twitter"></i></a> <a href="#"><i class="icon-github"></i></a> <a href="#"><i class="icon-pinterest"></i></a>
    </div>

  </div>

<br><br><br><br><br>

</div>

<a href="/student/login">LOGIN</a>
