<!-- Main content -->
<section class="content">

          <div class="row">
            <div class="col-md-4">

              <!-- Profile Image -->
              <div class="box box-primary">
                <div class="box-header">
                  <div class="box-tools pull-right">
                    <button (click)="saveProfile()" type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Save Profile" data-original-title="Save Profile">
                    <i class="fa fa-floppy-o"></i></button>
                  </div>
                </div>
                <div class="box-body box-profile">
                  <img class="profile-user-img img-responsive img-circle" src="assets/img/user4-128x128.jpg" alt="User profile picture">

                  <input type="text" class="form-control text-center" id="name" name="name" (ngModelChange)="display_change($event)" [(ngModel)]="tutorProfile.name" required placeholder="Name">
                  <input type="text" class="form-control text-center" id="ic_no" name="ic_no" (ngModelChange)="display_change($event)" [(ngModel)]="tutorProfile.ic_no" required placeholder="IC Number">
                  <input type="text" class="form-control text-center" id="occupation" name="occupation" (ngModelChange)="display_change($event)" [(ngModel)]="tutorProfile.occupation" placeholder="Occupation">
                
                  <ul class="list-group list-group-unbordered">
                      <li class="list-group-item">
                        <b>Gender</b> <span class="pull-right"><div class="form-group">
                          <select class="form-control">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                          </select>
                        </div></span>
                      </li>
                      <li class="list-group-item">
                          <b>Age</b> <span class="pull-right">       
                            <input type="number" class="form-control text-right" id="age" name="age" (ngModelChange)="display_change($event)" [(ngModel)]="tutorProfile.age" placeholder="Age">
                          </span>
                      </li>
                      <li class="list-group-item list-group-address-item">
                          <b>Address</b> 
                          <div><textarea class="form-control" rows="3" placeholder="Address" (ngModelChange)="display_change($event)" [(ngModel)]="tutorProfile.address" placeholder="Address"></textarea></div>
                      </li>
                      <li class="list-group-item">
                          <b>Phone Number</b> <span class="pull-right">       
                              <input type="text" class="form-control text-right" id="phone_no" name="phone_no" (ngModelChange)="display_change($event)" [(ngModel)]="tutorProfile.phone_no" required placeholder="Phone Number">
                            </span>
                      </li>
                    </ul>
                </div>
                <!-- /.box-body -->
              </div>
              <!-- /.box -->
            </div>
            <!-- /.col -->
            <div class="col-md-8">
              <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#education" data-toggle="tab">Education</a></li>
                  <li><a href="#tuition" data-toggle="tab">Tuition Service</a></li>
                </ul>
                <div class="tab-content">
                  <div class="active tab-pane" id="education">
                    <!-- Post -->
                    <div>
                      <strong><i class="fa fa-graduation-cap margin-r-5"></i>Education</strong>

                      <p class="text-muted">
                        B.S. in Computer Science from the University of Tennessee at Knoxville
                      </p>

                      <!-- <hr> -->
                    </div>
                    <!-- /.post -->

                  </div>
                  <!-- /.tab-pane -->
                  <div class="tab-pane" id="tuition">
                    <div>
                      <strong><i class="fa fa-book margin-r-5"></i>Subjects</strong>

                      <p class="text-muted">
                        Mathematics, Form 5
                      </p>
                      <p class="text-muted">
                        Science, Primary 4
                      </p>

                      <!-- <hr> -->
                    </div>
                  </div>
                  <!-- /.tab-pane -->

                  <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
              </div>
              <!-- /.nav-tabs-custom -->
            <div class="row">
              <div class="col-md-6 col-md-offset-3">

                  <a href="#" (click)="saveProfile()" class="btn btn-primary btn-block"><b>Update Profile</b></a>
              </div>
            </div>
            </div>
            <!-- /.col -->

          </div>
          <!-- /.row -->

        </section>
        <!-- /.content -->
