<h1 mat-dialog-title>{{data.name}}</h1>
<mat-dialog-content>
  <mat-tab-group>
  <mat-tab label="Details">
  <br>
  <div class="row">
    <div class="col-md-12">
      <p>Name: <strong> {{data.name}} </strong></p>
      <p>Email: <strong> {{data.email}} </strong></p>
      <p>Phone No: <strong> {{data.phone_no}} </strong></p>
      <p>City: <strong> {{data.city}} </strong></p>

    </div>
  </div>
  </mat-tab>

  <mat-tab label="Wallet">Wallet</mat-tab>
</mat-tab-group>


</mat-dialog-content>
<mat-dialog-actions>
  <span class="example-fill-remaining-space"></span>
  <button mat-button mat-dialog-close color="primary">Close</button>
  <!-- <button mat-button mat-dialog-close color="warn">Delete</button> -->
</mat-dialog-actions>
