<h1 mat-dialog-title>{{data.name}}</h1>
<mat-dialog-content>
  <mat-tab-group>
  <mat-tab label="Details">
    <br>
    <div class="row">
      <div class="col-md-12">
        <p>Name: <strong> {{data.name}} </strong></p>
        <p>Email: <strong> {{data.email}} </strong></p>
        <p>Phone No: <strong> {{data.phone_no}} </strong></p>
        <p>City: <strong> {{data.city}} </strong></p>

    </div>
  </div>
  </mat-tab>

  <mat-tab label="Wallet">
    <br>
    <div class="row">
      <div class="col-md-12">
        <p>Balance: <strong> {{data.balance}} </strong></p>

        <table style="border: 1">
          <th>Date</th>
          <th>Amount</th>
          <th>Remark</th>
          <tr *ngFor="let transaction of transactions">
            <td>{{transaction.date | date:'yyyy-MM-dd hh:mm a'}}</td>
            <td>{{transaction.amount}}</td>
            <td>{{transaction.remark}}</td>
          </tr>
        </table>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>


</mat-dialog-content>
<mat-dialog-actions>
  <span class="example-fill-remaining-space"></span>
  <button mat-button mat-dialog-close color="primary">Close</button>
</mat-dialog-actions>
