<section class="content-header">
  <h1>
    List of Class  Requests
    <small>Control panel</small>

  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Dashboard</li>
  </ol>
</section>

<section class="content">
  <div class="box box-success">
    <div class="example-container mat-elevation-z8">

    <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>

      <mat-table #table [dataSource]="myDataSource" matSort>

        <!-- Tutor Name Column -->
        <ng-container matColumnDef="tutor">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Tutor </mat-header-cell>
          <mat-cell *matCellDef="let element" id="loadbookings"> {{element.tutorName}} </mat-cell>
        </ng-container>

        <!-- Student Column -->
        <ng-container matColumnDef="student">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Student </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.studentName}} </mat-cell>
        </ng-container>

        <!-- Class Column -->
        <ng-container matColumnDef="class">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Class </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.subject}}
            <br>
            {{element.level}}
          </mat-cell>
        </ng-container>

        <!-- Session Column -->
        <ng-container matColumnDef="session">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Session </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.bookingDate | date: 'fullDate'}} <strong>({{element.bookingTime | dateformat | date: 'shortTime' }})</strong> </mat-cell>
        </ng-container>

        <!-- View Column -->
        <ng-container matColumnDef="view">
          <mat-header-cell *matHeaderCellDef mat-sort-header> View </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="openDialog(element)" id="openPop">
              <mat-icon aria-label="Info">info</mat-icon>
            </button>

            <!-- <button mat-icon-button color="warn" (click)="deleteTutor(element.key)">
              <mat-icon aria-label="Cancel">cancel</mat-icon>
            </button> -->
          </mat-cell>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="label {{statusLabel(element.status)}}">{{element.status}}</span>
          </mat-cell>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
          <mat-cell *matCellDef="let element" >
            <!-- <button mat-icon-button color="warn">
              <mat-icon aria-label="Example icon-button with a heart icon">cancel</mat-icon>
            </button> -->
            <span *ngIf="element.status=='pending'">
              <span matTooltip="Accept this class">
                <button mat-icon-button color="primary" (click)="confirmClass(element)">
                    <mat-icon aria-label="Example icon-button with a heart icon">check</mat-icon>
                </button>
              </span>
              <span matTooltip="Decline this class">
                <button mat-icon-button (click)="declineClass(element)" color="warn">
                    <mat-icon aria-label="Example icon-button with a heart icon">cancel</mat-icon>
                </button>
              </span>
            </span>
            <span *ngIf="element.status == 'confirmed'">
              <button mat-raised-button button color="primary" (click)="completeClass(element)">Completed</button>
            </span>
          </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <mat-paginator #paginator
                       [pageSize]="5"
                       [pageSizeOptions]="[5, 10, 20]">
      </mat-paginator>
    </div>
  </div>
</section>
