.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.mat-datepicker-calendar-pane{
z-index: 1200}
.cdk-overlay-pane {
  z-index: 1200 !important
}
.cdk-overlay-pane {
  z-index: 1200 !important
}
