  <!-- Main content -->

  <section class="content" >
  <div class='row' *ngIf='showSpinner'>
    <div class='col-xs-12'>
      <app-loading-spinner></app-loading-spinner>
    </div>
  </div>
  <div class="row" *ngIf='!showSpinner'>
      <div class="col-md-4">

        <!-- Profile Image -->
        <div class="box box-primary">
          <div class="box-header">
            <div class="box-tools pull-right">
              <button id="saveprofile" routerLink="/tutor/profile/edit" type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Edit Profile" data-original-title="Edit Profile">
              <i class="fa fa-pencil"></i></button>
            </div>
          </div>
            <div class="box-body box-profile">
              <img class="profile-user-img img-responsive img-circle" [src]="avatar" alt="User profile picture">

              <h3 class="profile-username text-center" id="username">{{tutorProfile.name}}</h3>
              <p class="text-muted text-center" id="ic_no">{{tutorProfile.ic_no || "888888-88-8888"}}</p>

              <p class="text-muted text-center" id="occupation">{{tutorProfile.occupation || "-Occupation-"}}</p>

              <ul class="list-group list-group-unbordered">
                  <li class="list-group-item">
                    <b>Gender</b> <span class="pull-right" id="gender">{{tutorProfile.gender}}</span>
                  </li>
                  <li class="list-group-item">
                    <b>Age</b> <span class="pull-right" id="age">{{tutorProfile.age}}</span>
                  </li>
                  <li class="list-group-item">
                    <b>Address</b> <span class="pull-right" id="address">{{tutorProfile.address}}</span>
                  </li>
                  <li class="list-group-item">
                    <b>State</b> <span class="pull-right" id="state">{{tutorProfile.state}}</span>
                  </li>
                  <li class="list-group-item">
                    <b>City</b> <span class="pull-right" id="city">{{tutorProfile.city}}</span>
                  </li>
                  <li class="list-group-item">
                    <b>Phone Number</b> <span class="pull-right" id="phone_no">{{tutorProfile.phone_no}}</span>
                  </li>
                </ul>

            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-8">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#education" data-toggle="tab">Qualification</a></li>
              <li><a href="#tuition" data-toggle="tab" id="tuitionservicepanel">Tuition Service</a></li>
            </ul>
            <div class="tab-content">
              <div class="active tab-pane" id="education">
                <!-- Post -->
                <div>
                  <strong><i class="fa fa-graduation-cap margin-r-5"></i>Education</strong>
                  <p class="text-muted">
                    {{tutorProfile.qualification}}
                  </p>
                  <!-- <hr> -->
                </div>
                <br>
                <div>
                  <strong><i class="fa fa-graduation-cap margin-r-5"></i>Personal Achievement</strong>
                  <p class="text-muted">
                    {{tutorProfile.achievement}}
                  </p>
                  <!-- <hr> -->
                </div>
                <br>
                <div>
                  <strong><i class="fa fa-graduation-cap margin-r-5"></i>Experience</strong>
                  <p class="text-muted">
                    {{tutorProfile.experience}}
                  </p>
                  <!-- <hr> -->
                </div>
                <br>
                <div>
                  <strong><i class="fa fa-graduation-cap margin-r-5"></i>Qualifications</strong>
                  <div id="qualification">

                    <a class="btn btn-primary btn-block" (click)="open('pmr')" *ngIf="pmr">PMR / PT3
                    </a>
                    <a class="btn btn-primary btn-block" (click)="open('spm')" *ngIf="spm">SPM
                    </a>
                    <a class="btn btn-primary btn-block" (click)="open('dipdeg')" *ngIf="dipdeg">Diploma / Degree
                    </a>
                    <a class="btn btn-primary btn-block" (click)="open('masphd')" *ngIf="masphd">Master / PhD
                    </a>
                    <!-- <hr> -->
                  </div>
                  <!-- <hr> -->
                </div>
                <!-- /.post -->

              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tuition">
                <div id="subjects">
                  <strong><i class="fa fa-book margin-r-5"></i>Subjects</strong>


                      <ul>
                      <span *ngFor="let subject of tutorProfile.subjects" >
                        <span *ngFor="let level of subject.levels; let i = index; let b=first; let c=last;">
                            <span *ngIf="level">
                              <li>
                                {{subject.name}}
                                <span [ngSwitch]="i">
                                  <span *ngSwitchCase="0"> (Standard 1-3)</span>
                                  <span *ngSwitchCase="1">(Standard 4-6)</span>
                                  <span *ngSwitchCase="2">(Form 1-3)</span>
                                  <span *ngSwitchCase="3">(Form 4-6)</span>
                                </span>
                              </li>
                            </span>
                        </span>
                      </span>
                    </ul>

                <br>
                  <!-- <hr> -->
                </div>
                <div>
                  <strong><i class="fa fa-clock-o  margin-r-5"></i>Rate per hour</strong>

                  <p class="text-muted">
                      {{tutorProfile.hourly_rate_cents}}
                  </p>

                  <!-- <hr> -->
                </div>
                <div>
                  <strong><i class="fa fa-clock-o  margin-r-5"></i>Areas Covered</strong>

                  <p class="text-muted">
                      {{tutorProfile.area_covered}}
                  </p>
                </div>

              </div>
              <!-- /.tab-pane -->

              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
          <div class="row">
              <div class="col-md-6 col-md-offset-3">

                  <a routerLink="/tutor/profile/edit" class="btn btn-primary btn-block"><b>Edit Profile</b></a>
              </div>
            </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
    <div class="modal fade" id="modal-default">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" (click)="close()" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Qualification</h4>
            <img [src]="cert" width="500px" alt="Tutor Image" class="img-fluid center-block tutor-image">
          </div>
          <!-- /.modal-header -->
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->

    </div>
  <!-- /.modal -->
