<section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header with-border">
              <i class="fa fa-usd" aria-hidden="true"></i><h3 class="box-title"><strong>Account Balance</strong></h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table class="table table-bordered">
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Details</th>
                  <th>Credit</th>
                  <th>Debit</th>
                  <th>Balance</th>
                </tr>
                <tr>
                  <td>1.</td>
                  <td>English Standard(1-3): Mr. Ali</td>
                  <td></td>
                  <td>100</td>
                  <td>700</td>
                </tr>
                <tr>
                  <td>2.</td>
                  <td>Mathematics Standard(1-3): Ms. Rina</td>
                  <td></td>
                  <td>100</td>
                  <td>600</td>
                </tr>
                <tr>
                  <td>3.</td>
                  <td>Sciences Standard(1-3): Mr. Halim</td>
                  <td></td>
                  <td>200</td>
                  <td>400</td>
                </tr>
                <tr>
                  <td>4.</td>
                  <td>Topup</td>
                  <td>300</td>
                  <td></td>
                  <td>700</td>
                </tr>
              </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
              <ul class="pagination pagination-sm no-margin pull-right">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">&raquo;</a></li>
              </ul>
            </div>
          </div>
          <!-- /.box -->
