<div class="wrapper">
    
      <app-header></app-header>
      <!-- Left side column. contains the logo and sidebar -->
      <app-sidebar></app-sidebar>
    
  
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
          <app-alert></app-alert> 
          <!-- <app-tutor-content></app-tutor-content> -->
          <router-outlet></router-outlet>
      </div>
      <!-- /.content-wrapper -->
      <app-footer></app-footer>
    
      <!-- Control Sidebar -->
      <app-control-sidebar></app-control-sidebar>
      <div class="control-sidebar-bg"></div>
      <!-- /.control-sidebar -->
  </div>
  